@text-accent-color: #0099ff;
@secondary-text-color: #c1c1c1;

* {
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

body, button, input {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {margin: 0;}
h1 { font-size: 2.25em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; color: @secondary-text-color; font-weight: normal; }

.ss-comments {
  width: 750px;
  margin: 0 auto;
  padding-top: 50px;
  height: 100%;

  .time-tabs {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;

    .tab {
      cursor: pointer;
      color: @secondary-text-color;
      &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: @secondary-text-color;
      }
      &.open, &:hover {
        color: @text-accent-color;
        &:after {
          background-color: @text-accent-color;
        }
      }
    }
  }

  .comment-list {
  }

  .comment {
    margin: 15px 0px;
    .comment-body {
      font-style: italic;
      a {
        text-decoration: none;
        &:visited, &:link {
          color: #000;
        }
        &:hover, &:active {
          color: @text-accent-color;
        }
      }
    }
    .comment-info {
      display: flex;
    }
    .comment-author {
      &:visited, &:link {
        color: @secondary-text-color;
      }
      &:hover, &:active {
        color: @text-accent-color;
      }
    }
    .comment-score {
    }
    .comment-date {
      margin-left: auto;
    }
  }
}