@accent-color: #0099ff;
@secondary-text-color: #c1c1c1;

// get the page ready
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html, body { height: 100%; width: 100%; position: absolute; top: 0; right: 0; }
body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {margin: 0;}
h1 { font-size: 2.25em; font-weight: normal; font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h2 { font-size: 1.75em; font-weight: normal;}
h3 { font-size: 1.5em;  font-weight: normal;}
h4 { font-size: 1.25em; font-weight: normal;}
h5 { font-size: 1em;  font-weight: normal;}
h6 { font-size: 1em;  font-weight: normal;}

a {
  &:visited, &:link {
    color: @secondary-text-color;
  }
  &:hover, &:active {
    color: @accent-color;
  }
}

// let the real CSS begin
.ss-comments {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  .ss-title {
    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: @accent-color;
    text-indent: 30px;
  }

  .page {
    flex: 1;
  }

  .time-tabs {
    display: flex;
    padding: 0;
    list-style: none;
    width: 60%;
    margin: 30px auto 20px;
    justify-content: space-around;

    .tab {
      cursor: pointer;
      &.open, &:hover {
        a {color: @accent-color;}
      }
    }
  }

  .comment-page {
    display: flex;
    flex-direction: column;
  }

  .comment-list, .author-page {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 20% 50px;
  }

  .comment {
    margin-bottom: 25px;
    .comment-body {
      a {
        text-decoration: none;
        &:visited, &:link {
          color: #000;
        }
        &:hover, &:active {
          color: @accent-color;
        }
      }
    }
    .comment-info {
      margin-top: 5px;
      display: flex;
      color: @secondary-text-color;
    }
    .comment-author {
      cursor: pointer;
      text-decoration: none;
    }
    .comment-score {
    }
    .comment-date {
      margin-left: auto;
    }
  }

  .ss-author-header {
    padding: 30px 0 20px;
    display: flex;
    align-items: baseline;

    .back {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .ss-author-deets {
    .status-message, .insights {
      margin-top: 10px;
    }

    .insights {
      width: 400px;
      .insight-category {

      }
      .insight-subcategory {
        margin-left: 20px;
      }
      .insight-data {
        display: flex;
        align-items: baseline;
        .data-percentile {
          margin-left: auto;
        }
      }
    }
  }
}
